@page "/stores"
@using Newtonsoft.Json;
@inject HttpClientHelper Http
@inject SweetAlertService Swal
@inject NavigationManager _navigationManager

<PageTitle>Stores</PageTitle>

<div class="text-center">
    <h1>Available Stores</h1>
</div>

@if (stores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Racks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var store in stores)
            {
                @if (store.Racks.Count > 0)
                {
                    <tr>
                        <td rowspan=@store.Racks.Count>@store.Name</td>
                        <td rowspan=@store.Racks.Count>@store.Country</td>
                        <td> @store.Racks[0].Name</td>
                        <td rowspan=@store.Racks.Count>
                            <div class="d-flex justify-content-center">
                                <NavLink class="m-2" href= @onclick="() => EditStore(store)">
                                    <span class="oi oi-pencil" aria-hidden="true"></span>
                                </NavLink>
                                <NavLink class="m-2" href= @onclick="() => DeleteStore(store)">
                                    <span class="oi oi-circle-x" aria-hidden="true"></span>
                                </NavLink>
                            </div>
                        </td>
                    </tr>
                    @foreach (var rack in store.Racks.Skip(1))
                    {
                        <tr>
                            <td>
                                @rack.Name
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>@store.Name</td>
                        <td>@store.Country</td>
                        <td></td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <NavLink class="m-2" href= @onclick="() => EditStore(store)">
                                    <span class="oi oi-pencil" aria-hidden="true"></span>
                                </NavLink>
                                <NavLink class="m-2" href= @onclick="() => DeleteStore(store)">
                                    <span class="oi oi-circle-x" aria-hidden="true"></span>
                                </NavLink>
                            </div>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td colspan="4">
                    <NavLink href="addstore">
                        <span class="oi oi-plus" aria-hidden="true"></span>
                    </NavLink>
                </td>
            </tr>
        </tbody>
    </table>
}

@code {
    private StoreResDTO[]? stores;

    protected override async Task OnInitializedAsync()
    {
        var resp = await Http.Post(Constants.APIEndpoints.GET_ALL_STORES, "", true);
        resp.EnsureSuccessStatusCode();

        var result = resp.Content.ReadAsStringAsync().Result;
        stores = JsonConvert.DeserializeObject<StoreResDTO[]>(result);
    }

    private async void DeleteStore(StoreResDTO store)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
              Title = "Are you sure?",
              Text = "You will not be able to recover "+store.Name+"!",
              Icon = SweetAlertIcon.Warning,
              ShowCancelButton = true,
              ConfirmButtonText = "Yes, delete it!",
              CancelButtonText = "No, keep it."
            });

        if (!string.IsNullOrEmpty(result.Value))
        {

            var resp = await Http.Post(Constants.APIEndpoints.DELETE_STORE+"?id="+store.Id, "", true);
            if (resp.IsSuccessStatusCode)
            {
                await Swal.FireAsync("Deleted", store.Name + " has been deleted!", SweetAlertIcon.Success);
            }
            else
            {
                string resFailed = resp.Content.ReadAsStringAsync().Result;
                FailedResponseDTO failed = JsonConvert.DeserializeObject<FailedResponseDTO>(resFailed); 
                await Swal.FireAsync("Error", "Couldn't Delete "+store.Name , SweetAlertIcon.Error);     
            }
        }
        _navigationManager.NavigateTo("stores", true);
    
    }

    private async void EditStore(StoreResDTO store)
    {        
        _navigationManager.NavigateTo($"editstore/{store.Id}", true);   
    }
}
